.ec-modal-size-small .MuiPaper-root {
  width: 100%;
  max-width: 350px;
}
.ec-modal-size-medium .MuiPaper-root {
  width: 100%;
  max-width: 600px;
}
.ec-modal-size-large .MuiPaper-root {
  width: 100%;
  max-width: 900px;
}
