$primary: #5e41a2;
$secondary: #47a0ce;
$tertiary: #99399e;

$text_primary: #424242;
$text_secondary: #888888;

$white: #ffffff;
$black: #000000;

$danger: #ff4444;
$success: #00c851;
$warning: #ffbb33;
$info: #33b5e5;
